{% extends 'base.html' %}
{% block content %}

    <section class="login-page">
      <h2>Potwierdzenie zresetowania hasła zostało wysłane</h2>







      <div class="about-us--text">
            <p> Instrukcja pozwalająca ustawić nowe hasło dla podanego adresu e-mail została wysłana. Niebawem powinna się pojawić na twoim koncie pocztowym.</p>

  <p>W przypadku nieotrzymania wiadomości e-mail: upewnij się czy adres wprowadzony jest zgodny z tym podanym podczas rejestracji i sprawdź zawartość folderu SPAM na swoim koncie.</p>
         <div class="form-group form-group--buttons">
          <a href="{% url 'login_view' %}" class="btn btn--without-border">Zaloguj się</a>

        </div>
</div>

    </section>
 <h2 style="color: red">
    {% for message in messages %}  {{ message }}   {% endfor %}
</h2>
{% endblock content %}