{% extends 'base.html' %}
{% block content %}

    <section class="login-page">
      <h2>Hasło zostało zresetowane</h2>







      <div class="about-us--text">

  <p>Twoje hasło zostało ustawione. Możesz się teraz zalogować.</p>
         <div class="form-group form-group--buttons">
          <a href="{% url 'login_view' %}" class="btn btn--without-border">Zaloguj się</a>

        </div>
</div>

    </section>
 <h2 style="color: red">
    {% for message in messages %}  {{ message }}   {% endfor %}
</h2>
{% endblock content %}