{% extends 'base.html' %}
{% block content %}

    <section class="login-page">
      <h2>Zresetuj hasło</h2>

     <form action="" method="POST">
     {% csrf_token %}

        <div class="form-group">
          <input type="email" name="email" placeholder="Email" />
        </div>


        <div class="form-group form-group--buttons">
          <a href="{% url 'login_view' %}" class="btn btn--without-border">Zaloguj się</a>
          <button class="btn" type="submit">Potwierdzam</button>
        </div>
      </form>



{#        <form action="" method="POST">#}
{#     {% csrf_token %}#}
{#    {{ form }}#}
{#    <button class="btn" type="submit">Zresetuj </button>#}
{#     </form>#}

    </section>






 <h2 style="color: red">
 {{ form.errors}}
{#    {% for message in errors %}  {{ message }}   {% endfor %}#}
</h2>
{# {% for error in field.errors %}#}
{#          <h2 style="color: red">{{ error }}</h2>#}
{#        {% endfor %}#}

{% endblock content %}