{% extends 'base.html' %}

 {% block content %}


           <div class="about-us--text">
        <div class="steps--item">

        <h2> <B>Profil: </B>{{ logged_user.first_name }}</h2>

        <h3> Nazwisko: {{ logged_user.last_name }}</h3>
        <h3> Email: {{ logged_user.email }}</h3>
        <h3> Ostatnie logowanie: {{ logged_user.last_login }}</h3>
        <h3> Rok urodzenia: {{ logged_user.year_of_birth }}</h3>


</div>
                            <h2>Przekazane donacje:</h2>


	<style>
table {
			border:1px solid #b3adad;
			border-collapse:collapse;
			padding:5px;
		}

table th {
			border:1px solid #b3adad;
			padding:5px;
			background: #f0f0f0;
			color: #313030;
		}

table td {
			border:1px solid #b3adad;
			text-align:center;
			padding:5px;
			background: #ffffff;
			color: #313030;
		}
.taken {
			color: #afabab;
			background: #ffffff;
		}
	</style>



           <h3>
	<table>
		<thead>
			<tr>

				<th>Instytucja: </th>
				<th>Ilość zabranych worków: </th>
				<th>Data zabrania: </th>
				<th>Zabrane: </th>
				<th>Kategorie: </th>

			</tr>
		</thead>








        {% for donation in donations %}


		<tbody>
			<tr>



		{% if donation.is_taken %}	<td class="taken"> {% else %} <td>  {%  endif %} {{ donation.institution }}</td>
		{% if donation.is_taken %}	<td class="taken"> {% else %} <td>  {%  endif %} {{ donation.quantity }}</td>
		{% if donation.is_taken %}	<td class="taken"> {% else %} <td>  {%  endif %} {{ donation.pick_up_date }} </td>
			{% if donation.is_taken %}
				<td class="taken"> TAK </td>
				{% else %}


				 <form action="{% url 'taken_donation' donation.id %}" method="POST">
     {% csrf_token %}
					 <td>
       NIE   <button  type="submit">Zabrany</button>
</td>
      </form>

             {% endif %}

{% if donation.is_taken %}	<td class="taken"> {% else %} <td>  {%  endif %}
					{% for category in donation.categories.all %}
						{{ category.name }},
					{% endfor %}
				</td>

</p>
			</tr>

</tbody>
       {% endfor %}




	</table>
</h3>


 <h2><a class="btn btn--small btn--without-border" href="{{request.META.HTTP_REFERER}}">Wróć na poprzednią stronę</a>  </h2>

      </div>



{% endblock content %}

